
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
    background-color: rgb(43, 48, 48);
}
h1,
h2,
h3,
h4,
h5,
h6,
div,

span {
  color: white;
  font-family: 'Cinzel', serif;
  
}


h1{
    font-size: 3rem;
}
.container{
    /* border: 1px solid red; */
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
   
}
.todo-item{
    background-color: darkblue;
    border: 1px solid lightblue;
    width: 31%;
    margin: 4px 0;
   
 
}
.completed{
    text-decoration-line: line-through; 
    background: lightblue;
    border: 1px solid darkblue;
    color: black;
    
}
.todo-item:hover{
    background: lightblue;
    color: black;
}
button{
    width: 33%;
    height: 50px;
    background: black;
    color: white;
    font-family: 'Cinzel', serif;
}
button:hover{
    background: white;
    color:black;
}
.todo-container{
    padding: 10px;
    /* border: 1px solid black; */
    
    /* display: flex;
    justify-content: center; */
}
.list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;

}
form{
     display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}
input{
    height: 30px;
}
